[submodule ".vim/bundle/buffet"]
	path = .vim/bundle/buffet
	url = git://github.com/sandeepcr529/Buffet.vim.git
[submodule ".vim/bundle/bufsurf"]
	path = .vim/bundle/bufsurf
	url = git://github.com/ton/vim-bufsurf.git
[submodule ".vim/bundle/clang_complete"]
	path = .vim/bundle/clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule ".vim/bundle/csapprox"]
	path = .vim/bundle/csapprox
	url = git://github.com/godlygeek/csapprox.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/trinity"]
	path = .vim/bundle/trinity
	url = git://github.com/vim-scripts/Trinity.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/srcexpl"]
	path = .vim/bundle/srcexpl
	url = git://github.com/wesleyche/SrcExpl.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/scrooloose/vim-fugitive.git
[submodule ".vim/bundle/localvimrc"]
	path = .vim/bundle/localvimrc
	url = https://github.com/embear/vim-localvimrc
[submodule ".vim/bundle/CamelCaseMotion"]
	path = .vim/bundle/CamelCaseMotion
	url = git://github.com/bkad/CamelCaseMotion.git
[submodule ".vim/bundle/ledger"]
	path = .vim/bundle/ledger
	url = git://github.com/ledger/vim-ledger.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/vim-scripts/UltiSnips.git
[submodule ".zsh/git-prompt"]
	path = .zsh/git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
[submodule ".vim/bundle/ag"]
	path = .vim/bundle/ag
	url = https://github.com/rking/ag.vim
[submodule "/home/lexs/.vim/bundle/vim-go-extra"]
	path = /home/lexs/.vim/bundle/vim-go-extra
	url = https://github.com/vim-jp/vim-go-extra.git
[submodule ".vim/bundle/vim-gnupg"]
	path = .vim/bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
