/*
!/.*
.*hist*

.FBReader/
.Skype/
.VirtualBox/
.Xauthority
.ZoiperCommunicator/
.adobe/
.aldorc
.asoundrc
.bash*
!.bashrc
.cache/
.claws-mail/
.cmus
.config/
.dbus/
.eagle/
.fontconfig/
.gconf/
.gervill/
.gnupg/
.googleearth/
.gtk-bookmarks
.java/
.lesshst
.lftp/
.lingot/
.linphonerc
.local/
.macromedia/
.minddump
.mozilla/
.openarena/
.pentadactyl/
.purple/
.qingy
.qt/
.recently-used
.ssh/
.subversion/
.th08/
.tkabber/*
!.tkabber/config.tcl
!.tkabber/dark1.xrdb
.tuxguitar-1.2/
.vim/view/
.viminfo
.wine/
.zoiper/
